<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="./index.html">YAM-Js</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {{for items tmpl="menuItem"/}}
                </ul>
            </div>
        </div>
    </div>
</div>